@model IEnumerable<Organisateur>
@{
    ViewData["Title"] = "Liste Des Organisateurs ";
}
 <div class="row">
     <div class="col-md-8 offset-md-2">
         <table class="table">
             <thead>
                  <tr class="text-center">
                 <th> @Html.DisplayNameFor(model=>model.Photo)</th>
                 <th> @Html.DisplayNameFor(model=>model.Name)</th>
          
                 <th> @Html.DisplayNameFor(model=>model.Desc)</th>
                 <th>Action</th>
             </tr>
             </thead>
             <tbody>
                 @foreach (var item in Model)
                { 
                    <tr>
                        <td class="align-middle">
                            <img src="@item.Photo" style="max-width:200px"/>
                        </td>
                        <td class="align-middle"> 
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Desc)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Editer</a> |
                             <a class="btn btn-outline-info"><i class="bi bi-eye"></i>Details</a> |
                              <a class="btn btn-outline-danger"><i class="bi bi-trash"></i>supp</a>
                        </td>
                    </tr>
                    
                }
             </tbody>
             <tr>
                 <td>
                      
                 </td>
             </tr>
         </table>

     </div>
 </div>